<html>
 
<head>
 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 
<style>
  img {
      margin-top: 25px;
      margin-bottom: 25px;
    }
</style>
 
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>
// define our fired states to false
var forward_fired = false;
var backward_fired = false;
var turn_left_fired = false;
var turn_right_fired = false;
var up_fired = false;
var down_fired = false;
var left_fired = false;
var right_fired = false;
var capture_fired = false;
var speed_pct = 100;
var switch_detector_fired = false;
var switch_alert_fired = false;
var switch_draw_rectangl_fired = false;
var switch_patrol_fired = false;
var pos_clear_fired = false;
var pos_add_fired = false;
var pos_set_fired = false;

// set speed
function set_speed() {
  speed_pct = document.getElementById("speed_pct").value;
  console.log("change speed pct");
}
// set detection param(thres, minarea)
function set_detection_param() {
  thres = document.getElementById("thres").value;
  minarea = document.getElementById("minarea").value;
  $.get("/set_param?thres="+thres+"&minarea="+minarea)
  console.log("change thres, and minarea");
}

// keydown event
document.onkeydown  = function() {
 
    if(event.keyCode == 38) {
 
        if(!forward_fired && !backward_fired) {
            forward_fired = true;
 
            button = document.getElementById('forward');
            button.className = 'btn btn-success btn-lg active';
 
            console.log('start forward');
            $.get("/forward?speed_pct="+speed_pct)
        }
    }
 
    if(event.keyCode == 40) {
        if(!backward_fired && !forward_fired) {
            backward_fired = true;
 
            button = document.getElementById('backward');
            button.className = 'btn btn-success btn-lg active';
 
            console.log('start backward');
            $.get("/backward?speed_pct="+speed_pct)
        }
    }
 
    if(event.keyCode == 37) {
        if(!turn_left_fired && !turn_right_fired && !backward_fired) {
            turn_left_fired = true;
 
            button = document.getElementById('turn left');
            button.className = 'btn btn-success btn-lg active';
 
            console.log('start left');
            $.get("/turn_left?speed_pct="+speed_pct)
        }
    }
 
    if(event.keyCode == 39) {
        if(!turn_right_fired && !turn_left_fired && !backward_fired) {
            turn_right_fired = true;
 
            button = document.getElementById('turn right');
            button.className = 'btn btn-success btn-lg active';
 
            console.log('start right');
            $.get("/turn_right?speed_pct="+speed_pct)
        }
    }
    //w
    if(event.keyCode == 87) {
        if(!up_fired) {
            up_fired = true;
            button = document.getElementById('up');
            button.className = 'btn btn-success btn-lg active';
            console.log('camera up');
            
        }
        $.get("/camera_up")
    }
    //s
    if(event.keyCode == 83) {
          if(!down_fired){
            down_fired = true;
            button = document.getElementById('down');
            button.className = 'btn btn-success btn-lg active';
            console.log('camera down');
            
          }
          $.get("/camera_down")
    }
    //a
    if(event.keyCode == 65) {
        if(!left_fired) {
            left_fired = true;
            button = document.getElementById('left');
            button.className = 'btn btn-success btn-lg active';
            console.log('camera left');
            
        }
        $.get("/camera_left")
    }
    //d
    if(event.keyCode == 68) {
          if(!right_fired){
            right_fired = true;
            button = document.getElementById('right');
            button.className = 'btn btn-success btn-lg active';
            console.log('camera right');
            
          }
          $.get("/camera_right")
    }
    //f
    if(event.keyCode == 70) {
          if(!capture_fired){
            capture_fired = true;
            button = document.getElementById('capture');
            button.className = 'btn btn-success btn-lg active';
            console.log('camera capture');
            $.get("/camera_capture")
          }
          
    }
    //b
    if(event.keyCode == 66) {
          if(!switch_detector_fired){
            switch_detector_fired = true;
            button = document.getElementById('switch_detector');
            button.className = 'btn btn-success btn-lg active';
            console.log('switch_detector');
            $.get("/switch_detector")
          }
    }
    //n
    if(event.keyCode == 78) {
          if(!switch_alert_fired){
            switch_alert_fired = true;
            button = document.getElementById('switch_alert');
            button.className = 'btn btn-success btn-lg active';
            console.log('switch alert ');
            $.get("/switch_alert")
          }
    }
    //m
    if(event.keyCode == 77) {
          if(!switch_draw_rectangle_fired){
            switch_draw_rectangle_fired = true;
            button = document.getElementById('switch_draw_rectangle');
            button.className = 'btn btn-success btn-lg active';
            console.log('switch draw_rectangle ');
            $.get("/switch_draw_rectangle")
          }
    }
    //j
    if(event.keyCode == 74) {
          if(!switch_patrol_fired){
            switch_patrol_fired = true;
            button = document.getElementById('switch_patrol');
            button.className = 'btn btn-success btn-lg active';
            console.log('switch patrol ');
            $.get("/switch_patrol")
          }
    }
    //u
    if(event.keyCode == 85) {
          if(!pos_clear_fired){
            pos_clear_fired = true;
            button = document.getElementById('pos_clear');
            button.className = 'btn btn-success btn-lg active';
            console.log('pos clear');
            $.get("/pos_clear")
          }
    }
    //i
    if(event.keyCode == 73) {
          if(!pos_add_fired){
            pos_add_fired = true;
            button = document.getElementById('pos_add');
            button.className = 'btn btn-success btn-lg active';
            console.log('pos add');
            $.get("/pos_add")
          }
    }
    //o
    if(event.keyCode == 79) {
          if(!pos_set_fired){
            pos_set_fired = true;
            button = document.getElementById('pos_set');
            button.className = 'btn btn-success btn-lg active';
            console.log('pos set');
            $.get("/pos_set")
          }
    }
};
 
// keyup event
document.onkeyup = function() {
 
    if(event.keyCode == 38) {
      if(forward_fired) {
        forward_fired = false;
 
        button = document.getElementById('forward');
        button.className = 'btn btn-default btn-lg active';
 
        console.log('stop forward');
        $.get("/stop")
      }
    }
 
    if(event.keyCode == 40) {
      if(backward_fired) {
        backward_fired = false;
 
        button = document.getElementById('backward');
        button.className = 'btn btn-default btn-lg active';
 
        console.log('stop backward');
        $.get("/stop")
      }
    }
 
    if(event.keyCode == 37) {
      if(turn_left_fired) {
        turn_left_fired = false;
 
        button = document.getElementById('turn left');
        button.className = 'btn btn-default btn-lg active';
 
        console.log('stop left');
        $.get("/stop")
      }
    }
 
    if(event.keyCode == 39) {
      if(turn_right_fired) {
        turn_right_fired = false;
 
        button = document.getElementById('turn right');
        button.className = 'btn btn-default btn-lg active';
 
        console.log('stop right');
        $.get("/stop")
      }
    }

    //w
    if(event.keyCode == 87) {
      if(up_fired) {
        up_fired = false;
 
        button = document.getElementById('up');
        button.className = 'btn btn-default btn-lg active';
 
        console.log('stop camera up');
      }
    }
    //s
    if(event.keyCode == 83) {
      if(down_fired) {
        down_fired = false;
 
        button = document.getElementById('down');
        button.className = 'btn btn-default btn-lg active';
 
        console.log('stop camera down');
      }
    }
    //a
    if(event.keyCode == 65) {
      if(left_fired) {
        left_fired = false;
 
        button = document.getElementById('left');
        button.className = 'btn btn-default btn-lg active';
 
        console.log('stop camera left');
      }
    }
    //d
    if(event.keyCode == 68) {
      if(right_fired) {
        right_fired = false;
 
        button = document.getElementById('right');
        button.className = 'btn btn-default btn-lg active';
 
        console.log('stop camera right');
      }
    }
    //f
    if(event.keyCode == 70) {
      if(capture_fired) {
        capture_fired = false;
 
        button = document.getElementById('capture');
        button.className = 'btn btn-default btn-lg active';
 
        console.log('camera already capture');
      }
    }
    //b
    if(event.keyCode == 66) {
        button = document.getElementById('switch_detector');
        button.className = 'btn btn-default btn-lg active';
        switch_detector_fired = false;
    }
    //n
    if(event.keyCode == 78) {
        button = document.getElementById('switch_alert');
        button.className = 'btn btn-default btn-lg active';
        switch_alert_fired = false;
    }
    //m
    if(event.keyCode == 77) {
        button = document.getElementById('switch_draw_rectangle');
        button.className = 'btn btn-default btn-lg active';
        switch_draw_rectangle_fired = false;
    }
    //j
    if(event.keyCode == 74) {
        button = document.getElementById('switch_patrol');
        button.className = 'btn btn-default btn-lg active';
        switch_patrol_fired = false;
    }
    //u
    if(event.keyCode == 85) {
        button = document.getElementById('pos_clear');
        button.className = 'btn btn-default btn-lg active';
        pos_clear_fired = false;
    }
    //i
    if(event.keyCode == 73) {
        button = document.getElementById('pos_add');
        button.className = 'btn btn-default btn-lg active';
        pos_add_fired = false;
    }
    //o
    if(event.keyCode == 79) {
        button = document.getElementById('pos_set');
        button.className = 'btn btn-default btn-lg active';
        pos_set_fired = false;
    }
};
 
</script>
 
</head>
 
</body>

<div class="container">
  <div class="row">
    <center>
      <img src="{{ url_for('video_feed') }}">
    </center>
  </div>
</div>


<!-- control buttons -->
<div class="container">
  <div class="row">


    <center>
      <div class="input-group mb-3">
        <p>Set motor speed percentage</p>
        <input id="speed_pct" type="text" class="form-control" placeholder="0~100, default 100" aria-label="Speed percentage" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary btn-sm" type="button" onclick="set_speed()">SET</button>
         </div>
      </div>
      <br>
      <p>Motor control with arrow keys</p>
      <button id="turn left" type="button" class="btn btn-default btn-lg active">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
      </button>
 
      <button id="forward" type="button" class="btn btn-default btn-lg active">
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
      </button>
 
      <button id="backward" type="button" class="btn btn-default btn-lg active">
        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
      </button>
 
      <button id="turn right" type="button" class="btn btn-default btn-lg active">
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      </button>
      <br>
      <br>
      <p>Camera servo control with keys "a,w,s,d", take photo with key "f"</p>
      <button id="left" type="button" class="btn btn-default btn-lg active">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
      </button>
      <button id="up" type="button" class="btn btn-default btn-lg active">
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
      </button>
      <button id="down" type="button" class="btn btn-default btn-lg active">
        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
      </button>
 
      <button id="right" type="button" class="btn btn-default btn-lg active">
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      </button>

      <button id="capture" type="button" class="btn btn-default btn-lg active">
        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
      </button>
      <br>
      <br>
      <p>Turn on/off patroller with key "j"</p>
      <button id="switch_patrol" type="button" class="btn btn-default btn-lg active">
        <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
      </button>
      <br>
      <br>
      <p>Turn on/off detector with key "b"</p>
      <button id="switch_detector" type="button" class="btn btn-default btn-lg active">
        <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
      </button>
      <br>
      <br>
        <div class="input-group mb-3">
        <p>Set detection frame delta threshold</p>
        <input id="thres" type="text" class="form-control" placeholder="default 25" aria-label="frame delta threshold" aria-describedby="basic-addon2">
        <div class="input-group-append">
        <p>Set detection minimun area</p>
        <input id="minarea" type="text" class="form-control" placeholder="default 500" aria-label="detection minimun area" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary btn-sm" type="button" onclick="set_detection_param()">SET</button>
         </div>
        </div>

      <p>Turn on/off sound alert with key "n"</p>
      <button id="switch_alert" type="button" class="btn btn-default btn-lg active">
        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
      </button>
      <br>
      <br>
      <p>Turn on/off draw rectangle with key "m"</p>
      <button id="switch_draw_rectangle" type="button" class="btn btn-default btn-lg active">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </button>
      <br>
      <br>
      <p>Patrol position setting: clear, add, set corresponding to "u", "i", "o"</p>
      <button id="pos_clear" type="button" class="btn btn-default btn-lg active">
        <span class="glyphicon glyphicon-scissors" aria-hidden="true"></span>
      </button>
        <button id="pos_add" type="button" class="btn btn-default btn-lg active">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
           <button id="pos_set" type="button" class="btn btn-default btn-lg active">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
      </button>
      <br>
      <br>

    </center>
 
  </div>
</div>
 
</body>
 
</html>